@import "tailwindcss";

* {
  font-family: "Vazirmatn", system-ui, sans-serif;
}

body {
  direction: rtl;
  background-color: #f8fafc;
}

.num {
  font-family: "Vazirmatn", monospace;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f5f9;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 3px;
}
